{% extends 'base.html.twig' %}

{% block body %}
    <h2>Cuenta confirmada</h2>
    <p>Tu cuenta ha sido activada correctamente. Ahora puedes <a href="{{ path('app_login') }}">iniciar sesión</a>.</p>
{% endblock %}