{% extends 'base.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center h-100">
        <main class="form-wrapper">
            <h1 class="text-center mb-3">Restablecer Contraseña</h1>
            <p class="text-center mb-3">Introduce tu nueva contraseña.</p>

            {# FORM #}
            <form method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">

                {# CSRF #}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset_password') }}">
                
                {# TOKEN FOR PASS RESET #}
                <input type="hidden" name="token" value="{{ token }}">

                {# PASSWORD #}
                <div class="form-floating mb-3">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                    <label for="password" class="form-label">Nueva contraseña</label>
                </div>

                {# CONFIRM PASSWORD #}
                <div class="form-floating mb-3">
                    <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Password" required>
                    <label for="confirm_password" class="form-label">Confirmar contraseña</label>
                </div>

                {# SUBMIT #}
                <button type="submit" class="w-100 btn btn-lg btn-primary">Restablecer Contraseña</button>
            </form>
        </main>
    </div>
{% endblock %}
