<table class="row-content"
    style="font-family: Arial; text-align:center; max-width: 600px;margin: 0 auto;border-collapse:collapse;"
    width="100%" border="1" cellpadding="5" cellspacing="1">
    <tr>
        <th style="text-align:center;" colspan="2">{{ cuerpo.titulo }}</th>
    </tr>
    <tr>
        <td style="text-align:justify; word-break: break-word; font-family: Arial, sans-serif;" colspan="2">{{ cuerpo.motivo|raw }}</td>
    </tr>
    <tr>
        <td colspan="2">Un saludo, <br>Departamento de Recursos Humanos.</td>
    </tr>
</table>